<div class="h-screen w-full flex items-center gap-12 justify-center bg-gray-200 dark:bg-gray-800">
  <!-- Carte de produit -->
  <article (click)="onSelect(produit)" *ngFor="let produit of produits" 
    class="max-w-sm cursor-pointer w-full bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105"
  >
    <div>
      <img class="object-cover h-64 w-full" src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw1fHxzbmVha2Vyc3xlbnwwfDB8fHwxNzEyMjIzNDAyfDA&ixlib=rb-4.0.3&q=80&w=1080" alt="Converse sneakers" />
    </div>

    <div class="flex flex-col gap-1 mt-4 px-4">
      <h2 class="text-lg font-semibold text-gray-800 dark:text-gray-50">{{ produit.titre | uppercase }}</h2>
      <span class="font-semibold text-gray-800 dark:text-gray-50">{{ produit.prix | currency:'EUR' }}</span>
    </div>

    <div class="mt-4 p-4 border-t border-gray-200 dark:border-gray-500">
      <div class="w-full flex justify-between items-center font-bold cursor-pointer hover:underline text-gray-800 dark:text-gray-50">
        <span class="text-base">{{ produit.dateAjout | date }}</span>
        <svg class="h-6 w-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </div>
    </div>
  </article>
</div>

<!-- Modal pour afficher le détail d'un produit -->
<app-produit-detail *ngIf="selectedProduit" [produit]="selectedProduit"></app-produit-detail>
